<% if videos.present? %>
  <% videos.each_with_index do |video, n| %>
    <div class="col-xs-6 col-sm-4 col-md-3 video_thumb">
      <div class="embed-responsive embed-responsive-16by9">
        <a href="<%= video_path(id: video.id_with_title) %>" class="thumbnail">
          <%= image_tag video.cover_url, class: "embed-responsive-item" %>
        </a>
      </div>

      <% if current_user && current_user == video.uploader %>
        <%= link_to raw("<i class='glyphicon glyphicon-remove-circle text-danger' data-toggle='tooltip' data-placement='bottom' title='Delete'></i>"), video, class: "remove bg-warning", method: :delete %>
      <% elsif current_user && video.user_ids.include?(current_user.id) %>
        <%= link_to raw("<i class='glyphicon glyphicon-ban-circle text-danger' data-toggle='tooltip' data-placement='bottom' title='Unsubscribe'></i>"), unsubscription_path(video_id: video.id, user_id: current_user.id), class: "unsubscribe bg-warning", method: :delete %>
      <% elsif current_user %>
        <%= link_to raw("<i class='glyphicon glyphicon-ok-circle text-success' data-toggle='tooltip' data-placement='bottom' title='Subscribe'></i>"), subscriptions_path(video_id: video.id, user_id: current_user.id), class: "subscribe bg-success", method: :post %>
      <% end %>

       <div class="about">
          <%= link_to video.title, video_path(id: video.id_with_title), class: 'title' %>
          <a href="/users/<%= video.uploader.id %>" class='publisher'><span><i>by <%= video.uploader.name %></i></span></a>
          <!-- <span class='likes text-muted'><%#= "#{Faker::Number.number(6)} likes, " %></span> -->
          <!-- <span class='date text-muted'><%#= time_ago_in_words Faker::Time.backward(14, :evening) %> ago</span> -->
        </div>
    </div>

    <% if (n+1) % 2 == 0 %>
        <div class="clearfix visible-xs-block"></div>
      <% end %>


      <% if (n+1) % 3 == 0 %>
        <div class="clearfix visible-sm-block hidden-xs"></div>
      <% end %>

      <% if (n+1) % 4 == 0 %>
        <div class="clearfix visible-md-block visible-lg-block hidden-xs hidden-sm"></div>
      <% end %>
  <% end %>
<% else %>
  <div class="text-center"><h1>No videos yet</h1></div>
<% end %>

    <p id="btn_infomap">
        <a href="/infomap">
            <button type="button" class="btn btn-primary" href="/infomap">
              with Map
            </button>
        </a>
    </p>
