<h1><%= title %></h1>

<div class="row">
  <%= form_for travel, url: url do |f| %>
    <div class="col-sm-8">
      <div class="form-group field">
        <%= f.text_field :todo, placeholder: 'To do', class: 'form-control' %>
      </div>

      <div class="form-group field">
        <%= f.select :preposition, Travel::PREPS.map {|f| [f, f.downcase]} %>
      </div>

      <div class="form-group field">
        <%= f.text_field :place, placeholder: 'Place or City', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit class: "btn btn-success" %>
      </div>
    </div>

  <% end %>
</div>


